.explore {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bellefair", serif;
  color: black;
  margin-right: 5rem;
}
.explore p {
  font-size: 2.5rem;
}

@media screen and (max-width: 950px) {
  .explore {
    width: 27rem;
    height: 27rem;
    margin: 9rem 0px;
  }
}

@media screen and (max-width: 500px) {
  .explore {
    width: 20rem;
    height: 20rem;
    margin: 9rem 0px;
  }
  
}
