.explore {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bellefair", serif;
  color: black;
  margin-right: 5rem;
}
.explore p {
  font-size: 2.5rem;
}
