.home {
  background-image: url("../public/assets/home/background-home-desktop.jpg");
   background-repeat: no-repeat;
   background-position: top;
   background-size: cover;
   min-height: 100vh;
}

@media screen and (max-width: 950px) {
  .home {
    background-image: url("../public/assets/home/background-home-tablet.jpg");
  }
}

@media screen and (max-width: 500px) {
  .home {
    background-image: url("../public/assets/home/background-home-mobile.jpg");
  }
}


