.layout {
    background-image: url("../public/assets/home/background-home-desktop.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     min-height: 100vh;
  }