.nav {
    font-size: 1.6rem;
    color: white;
    display: flex;
    position: absolute;
    height: 10rem;
    right: 0;
    width: 90rem;
    align-items: center;
    justify-content: flex-start;
    padding-left: 14rem;
} 

.nav li {
   list-style: none;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 2rem;
   cursor: pointer;
   position: relative;
   z-index: 1;
   
}
  
.nav li:hover {
   /* border-bottom: 1px solid #f5f5f5; */
   text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 40px;
}

.nav li a {
   text-decoration: none;
   color: #dbdee2;
   display: inline-block;
   letter-spacing: 2px;
   text-transform: uppercase;
   font-size: 1.6rem;
   font-weight: lighter;

}
/* font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; */

.nav li a span {
   font-weight: bold;
}

.nav::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(255, 255, 255, 0.055);
   backdrop-filter: blur( 10px );
   -webkit-backdrop-filter: blur( 4.5px );
   z-index: 1;
}


/* reponsive movil */

@media screen and (max-width: 500px) {
   .nav {
      padding: 0;
      margin: 0;
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem;
      width: 50%;
      position: fixed;
      height: 100%;
      top: 0;
      right: 0;
      z-index: 1000;
      transition: all  0.3s ease;
      transform: translateX(100%);

   }
    .nav li{
       height: 5rem;
       
    }
    .nav li a span {
      display: block;
    }
    .nav::before {
      backdrop-filter: blur( 2rem );
      -webkit-backdrop-filter: blur( 400px );
    }
}

.navActive {
   transform: translateX(0px);
}

@media screen and (max-width: 950px) {
    .nav {
        width: 60%;
        padding-left: 4rem;
    }
    .nav li a > span {
       display: none;
    }

}

@media screen and (max-width: 950px) {
    .nav {
        width: 60%;
        padding-left: 4rem;
        
    }
    .nav li a > span {
       display: none;
    }
}


@media screen and (max-width:768px){
   .nav {
      width: 75%;
   }
}

@media screen and (max-width: 500px) {
  
   .nav li:hover {
      text-underline-offset: 5px;
   }
   .nav {
      padding-top: 5rem;
   }
}
   



